/* === Variables=== */

/* ==Fuentes== */
$text-font: 'Varela Round', sans-serif;
$title-font: 'Courgette', cursive;

/* == Colores== */
$primary-color: rgb(104, 216, 214);
$header-color: rgb(196, 255, 249);
$textbox-color:antiquewhite;
$border-color:whitesmoke;
$darkblue-color:rgb(56, 163, 165);
$dark-color: rgb(0, 8, 20);
$overlay-gradient-color: radial-gradient(circle, rgba(183, 255, 254, 0.15730042016806722) 0%, rgba(104, 216, 214, 1) 100%);
$border-gradient-color: linear-gradient(142deg, rgba(25, 177, 179, 1) 0%, rgba(183, 255, 254, 1) 100%);
$artifact-border-color: radial-gradient(circle, rgba(183, 255, 254, 0.3393732492997199) 0%, rgba(25, 177, 179, 1) 100%);