body {
    header {
        padding: 2rem 0 2rem 0;
        background-color: rgb(196, 255, 249);

        nav {
            ul {
                display: flex;
                list-style-type: none;
                font-weight: bold;
                text-align: right;

                li {
                    display: inline;
                    text-align: center;

                    a {
                        color: black;
                        text-decoration: none;
                        padding: 2rem;
                        transition: .5s;

                        &:hover {
                            background-color: rgb(104, 216, 214);
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.logo {
    position: absolute;
    top: 0;
    right: 4px;
    width: 5rem;
}


.active {
    background-color: rgb(104, 216, 214);
    color: white;
}