* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 216, 214);
    font-family: 'Varela Round', sans-serif;
    min-height: 100vh;
    position: relative;
    line-height: inherit;
    overflow-x: hidden;

}

/* HEADER */
body header {
    padding: 2rem 0 2rem 0;
    background-color: rgb(196, 255, 249);

}

.logo {
    position: absolute;
    top: 0;
    right: 4px;
    width: 5rem;
}


body header nav ul {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    text-align: right;
}

body header nav ul li {
    display: inline;
    text-align: center;
}


body header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 2rem;
    transition: .5s;
}

body header nav ul li a:hover {
    background-color: rgb(104, 216, 214);
    color: black;
}


.active {
    background-color: rgb(104, 216, 214);
    color: white;
}


main {
    padding-bottom: 15rem;
}

/* TÍTULOS */
.title_main {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 4rem;
    padding-top: 50px;
    padding-bottom: 50px;


}

.title__video {
    font-family: 'Courgette', cursive;
    text-decoration: underline;
    text-align: center;
    font-size: 3rem;
    padding-top: 15px;
    padding-bottom: 50px;
}

.img__index {
    background-color: aliceblue;
    border-radius: 2rem;
    width: 50%;
    padding: 1rem;
    margin-left: 30rem;
    margin-bottom: 4rem;
}

.video__index {
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 23rem;
    margin-bottom: 5rem;
}

.paragraph__index {
    font-style: italic;
    text-align: justify;
    font-size: 1.5rem;
    padding: 2rem 5rem 5rem 5rem;
}

/* FOOTER */
/* Grid del footer */
.container__footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". txt txt ."
        "socialmedia socialmedia socialmedia socialmedia";
}

.txt {
    grid-area: txt;
}

.socialmedia {
    grid-area: socialmedia;
}


body footer {
    background-color: rgb(156, 234, 239);
    border: 2px solid rgb(196, 255, 249);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
}


body footer ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

body footer ul li {
    display: inline;
    text-align: center;
}


.footer__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    padding-top: 1rem;
}

.logo__socialmedia {
    width: 5rem;
    padding: 1rem;
}

.logo__socialmedia:hover {
    transition: .5s;
    transform: scale(1.2);
}


/* ARTEFACTOS.HTML */

.container__artifacts {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titleartifacts titleartifacts"
        "artifact1 artifact1"
        "artifact2 artifact3"
        "artifact4 artifact5"
        "artifactStats artifactStats"
        "subtitleartifact subtitleartifact"
        "videoartifact videoartifact";
}

.titleartifacts {
    grid-area: titleartifacts;
}

.artifact1 {
    grid-area: artifact1;
    display: flex;
    justify-content: center;
}

.artifact2 {
    grid-area: artifact2;
    display: flex;
    justify-content: center;
}

.artifact3 {
    grid-area: artifact3;
    display: flex;
    justify-content: center;
}

.artifact4 {
    grid-area: artifact4;
    display: flex;
    justify-content: center;
}

.artifact5 {
    grid-area: artifact5;
    display: flex;
    justify-content: center;
}

.artifactStats {
    grid-area: artifactStats;
    display: flex;
    justify-content: center;
}

.subtitleartifact {
    grid-area: subtitleartifact;

}

.videoartifact {
    grid-area: videoartifact;
    display: flex;
    justify-content: center;
}



.border__artifacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    border: solid 3px white;
    padding: 2rem;
    margin: 3rem;
    background: rgb(183, 255, 254);
    background: radial-gradient(circle, rgba(183, 255, 254, 0.3393732492997199) 0%, rgba(25, 177, 179, 1) 100%);
}

.border__artifacts--principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border: solid 3px white;
    padding: 2rem;
    margin: 3rem;
    background: rgb(183, 255, 254);
    background: radial-gradient(circle, rgba(183, 255, 254, 0.3393732492997199) 0%, rgba(25, 177, 179, 1) 100%);
}

.border__artifacts--stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    padding: 2rem;
    margin-bottom: 4rem;
    background: rgb(183, 255, 254);
    background: radial-gradient(circle, rgba(183, 255, 254, 0.3393732492997199) 0%, rgba(25, 177, 179, 1) 100%);
}


.subtitle__artifacts {
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.text__artifacts {
    font-style: italic;
    text-align: justify;
    font-size: 1.5rem;
    padding: 2rem;
}

.title__video--artifacts {
    font-family: 'Courgette', cursive;
    text-decoration: underline;
    text-align: center;
    font-size: 3rem;
    padding-top: 15px;
    padding-bottom: 50px;
}

.video__artifacts {
    background: rgb(25, 177, 179);
    background: linear-gradient(142deg, rgba(25, 177, 179, 1) 0%, rgba(183, 255, 254, 1) 100%);
    border-radius: 30px;
    padding: 1rem;
}


/* ARMAS.HTML */
/* Grid de armas.html */
.container__weapons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". title title ."
        "subtitle subtitle . ."
        "img img text text"
        "subtitle2 subtitle2 . ."
        "img2 img2 text2 text2"
        "subtitle3 subtitle3 . ."
        "img3 img3 text3 text3"
        "subtitle4 subtitle4 . ."
        "img4 img4 text4 text4"
        "subtitle5 subtitle5 . ."
        "img5 img5 text5 text5";
}

.title {
    grid-area: title;
}

.img {
    grid-area: img;
}

.text {
    grid-area: text;
}

.img2 {
    grid-area: img2;
}

.text2 {
    grid-area: text2;
}

.img3 {
    grid-area: img3;
}

.text3 {
    grid-area: text3;
}

.img4 {
    grid-area: img4;
}

.text4 {
    grid-area: text4;
}

.img5 {
    grid-area: img5;
}

.text5 {
    grid-area: text5;
}

.subtitle {
    grid-area: subtitle;
}

.subtitle2 {
    grid-area: subtitle2;
}

.subtitle3 {
    grid-area: subtitle3;
}

.subtitle4 {
    grid-area: subtitle4;
}

.subtitle5 {
    grid-area: subtitle5;
}




.subtitle__weapons {
    text-decoration: underline;
    text-align: left;
    font-size: 2rem;
    padding-left: 10rem;
    padding-top: 5rem;
}

.text__weapons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid white;
    text-align: justify;
    font-size: 1.3rem;
    padding: 2rem;
    margin-right: 2rem;
}

.img__weapons {
    display: flex;
    padding: 2px;
    background-color: white;
    margin: 2rem 2rem 2rem 10rem;
    width: 50%;
}


/* EQUIPOS.HTML */
.container__teams {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titleTeams titleTeams"
        "nameteam1 ."
        "team1 team1"
        "nameteam2 ."
        "team2 team2"
        "nameteam3 ."
        "team3 team3";
}

.titleTeams {
    grid-area: titleTeams;
}

.nameteam1 {
    grid-area: nameteam1;
}

.team1 {
    grid-area: team1;
    display: flex;
    justify-content: center;
}

.nameteam2 {
    grid-area: nameteam2;
}

.team2 {
    grid-area: team2;
    display: flex;
    justify-content: center;
}

.nameteam3 {
    grid-area: nameteam3;
}

.team3 {
    grid-area: team3;
    display: flex;
    justify-content: center;
}



.subtitle__teams {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 2rem;
    padding: 1rem;
}


.img__teams {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 4rem;
    border: 2px solid white;
    background: rgb(183, 255, 254);
    background: radial-gradient(circle, rgba(183, 255, 254, 0) 0%, rgba(25, 177, 179, 1) 100%);
}


/* CONTACTO.HTML */

.text__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 4rem;
    margin-right: 3rem;

}

.button__form {
    background-color: rgb(196, 255, 249);
    border-radius: 15px;
    color: rgb(56, 163, 165);
    border: 2px solid rgb(56, 163, 165);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button2__form:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.link__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5rem;
    list-style-type: none;
    padding-top: 1rem;
}

.form__center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.fieldset__contact {
    display: flex;
    flex-direction: column;
    border: solid 4px white;
    padding: 1rem;
    border-style: groove;
    width: 50rem;
    background: rgb(25, 177, 179);
    background: linear-gradient(142deg, rgba(25, 177, 179, 1) 0%, rgba(183, 255, 254, 1) 100%);
}

.subtitle__contact {
    display: inline-block;
    border-radius: 20px;
    text-decoration: underline;
    font-size: 2rem;
    border: solid 2px white;
    padding: 1rem;
}


/*Para importar un elemento de Bootstrap tuve que vinculkar la galería del mismo, 
por lo tanto se me modificó la pag. */
dl,
ol,
ul {

    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    padding-left: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--bs-heading-color, inherit);
}

.h5,
h5 {
    font-size: inherit;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

/* Hasta acá se editó los cambios que efectuó Bootstrap en la página */